@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <h1>Risk Management Framework (RMF) - Austomated Support Tool (RAST)</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to RAST </h2>
        <p>
            RAST is a proof of concept tool that  assists project managers, system owners and RMF assessors during
            phase 4 of the Risk Management Framework - Assessment phase
        </p>

    </div>
    <div class="col-md-4">
        <h2>Technology Used</h2>
        <p> The RAST  is a web application built in ASP.NET MVC 5 using Entity Framework 6.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Collaboration</h2>
        <p>All documentation, code and collaboration effort is through GitHub</p>
        <p><a class="btn btn-default" href="https://github.com/jomi2003/COSC800-CapstoneProject">See GitHub Content &raquo;</a></p>
    </div>
</div>